<div class="col-md-12">

  <h1>Listing Topics</h1>

  <div class="group">
    <%= link_to('New Topic', new_topic_path, class: 'btn btn-primary pull-right') %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Total Votes</th>
        <th>+1</th>
        <th>-1</th>
        <th>Sum</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= link_to(topic.title, topic) %></td>
          <td><%= pluralize(topic.votes_count, "vote") %></td>
          <td><%= topic.pos_sum %></td>
          <td><%= topic.neg_sum %></td>
          <td><%= topic.sum %></td>

          <% if topic.is_voted > 0 %>
            <td><%= link_to("Revote", revote_topic_path(topic), class: 'btn btn-default btn-xs', method: :post) %></td>
            <td></td>
            <td></td>
          <% else %>
            <td></td>
            <td><%= button_to('+1', upvote_topic_path(topic), class: 'btn btn-info btn-xs', method: :post) %></td>
            <td><%= button_to('-1', devote_topic_path(topic), class: 'btn btn-warning btn-xs', method: :post) %></td>
          <% end %>

          <td><%= link_to('Delete', topic_path(topic), class: 'btn btn-default btn-xs', method: :delete, data: { confirm: 'Are you sure?' }) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
